---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{page.artist}}: {{ page.title | escape}}<br/></h1>
  </header>

  <div class="post-content">

	<p align="center">
	<img src="/assets/images/{{ page.cover }}">
	</p>

	<p>
    {{ content }}
	</p>
	
	<p>
	
<h3><em>"{{ page.title }}"</em></h3>	

	<ul>
	{% for member in page.members %}
	<li>
	{% if member.url %}<a href="{{ member.url }}">{% endif %}
	{{ member.name }}
	{% if member.url %}</a>{% endif %}
	 - {{ member.instrument }}</li>
	{% endfor %}
	</ul>
	</p>
	
	<p>
	Released in {{ page.year }} on {{ page.label }} as {{ page.code }}.
	</p>
	
	<p>	
	<em>(Names in Japanese:</em>
	{% for member in page.members -%}
	<em>{{ member.name -}}&nbsp;{{ member.japanese_name -}}</em>
	{% endfor -%})
	</p>
	

<p/>

<hr/>

<p/>
	
	{% for image in page.images %}
	<img src="/assets/images/{{ image }}">
	{% endfor %}

<p/>

<hr/>

<h3>Audio and Video:</h3>

	<ul>
	{% for video in page.videos %}
	<li><a href="{{ video.url }}">{{ video.comment }}</a></li>
	{% endfor %}
	</ul>

<hr/>


<p align="right">
<em>&copy; {{ page.date | date: "%B %-d, %Y" }}</em>
</p>
  
</div>


</article>

