---
layout: default
---
{% assign image_subdir = page.date | date: "%Y/%m" %}
{% assign image_dir = "/assets/images/" | append: image_subdir %}
{% assign copyright_year = page.date | date: "%Y" %}
{% unless copyright_year %}
{% assign copyright-Year = site.time | date: "%Y" %}
{% endunless %}

<article class="post">

<header class="post-header">
<h1 class="post-title">{{page.artist}}: {{ page.title | escape}}</h1>
</header>

<div class="post-content">

<p class="aligncenter">
<img src="{{ page.image }}" width=460 alt=""> {% comment %} jpeg files output from adobe bridge {% endcomment %}
</p>

{{ content }}

<h3><em>{{ page.title }}</em> by {{ page.artist }}</h3>	

<ul>
{%- for member in page.members %}
<li>{% if member.url %}<a href="{{ member.url }}">{% endif %}{{ member.name }}{% if member.url %}</a>{% endif %} - {{ member.instrument }}</li>
{%- endfor %}
</ul>
	
<p>
Released in {{ page.year }} on {{ page.label }} as {{ page.code }}.
{% if page.release_note -%}
{{ page.release_note }}
{% endif -%}
</p>

<p>	
<em>Names in Japanese:
{% for member in page.members -%}
{% if member.japanese_name %}{{ member.name }} {{ member.japanese_name }} {% endif %}
{% endfor -%}
</em>
</p>

<hr>

<p class="aligncenter">
{% for image in page.images -%}
<a href="{{ image_dir }}/{{ image }}"><img src="{{ image_dir }}/{{ image }}" alt=""></a>
{% endfor -%}
</p>


<hr>

<h3>Audio and Video</h3>

<ul>
{%- for video in page.videos %}
<li><a href="{{ video.url }}">{{ video.comment }}</a></li>
{%- endfor %}

{% for audio_link in page.audio %}
<li><a href="{{ audio_link.url }}">{{ audio_link.comment }}</a></li>
{%- endfor %}
</ul>

<hr>

<p class="alignright"><em>&copy; Brian McCrory {{ copyright_year }}</em><br>
<em>{{ page.date | date: "%b %e, %Y" }}
{%- if page.date_updated -%}
{%- assign date_pub = page.date | date: "%s" -%}
{%- assign date_upd = page.date_updated | date: "%s" -%}
{%- if date_pub != date_upd %} (Updated {{ page.date_updated | date: "%b %e, %Y" }})
{%- endif -%}
{%- endif -%}
</em></p>

</div>


</article>

